body {
  font-family: Arial, sans-serif;
  background-color: #fffef6;
}

.header {
  background-color: #b3832c;
  color: black;
}

.logo {
  height: 40px;
}

.brand-name {
  font-weight: bold;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.search-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.calendar-cell {
  border: 1px solid #000;
  height: 80px;
  padding: 5px;
  font-size: 14px;
}

.circle {
  font-size: 24px;
  color: gray;
}

.footer {
  background-color: #b3832c;
  color: white;
  font-weight: bold;
}

.logo-sena {
  height: 25px;
  vertical-align: middle;
}
