/* ================= NAVBAR ================= */

.container.my-4 {
  min-height: 78vh;
}

.navbar-custom {
  background-color: #4e6821;
  background-image: linear-gradient(145deg, #6B8E23 0%, #3e5221 100%);
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.logo img {
  height: 60px;
  width: auto;
  transition: all 0.3s ease;
  border-radius: 100%;
  margin-right: 10px;
}

.logo img:hover {
  transform: scale(1.1);
}

.navbar-brand {
  font-family: 'Brush Script MT', cursive;
  font-size: 24px;
  color: #d1e5b2 !important;
}

.navbar-nav .nav-item {
  margin: 0 15px;
}

.navbar-nav .nav-link {
  color: #d1e5b2 !important;
  font-weight: bold;
  font-family: 'Copperplate', sans-serif;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: white !important;
}

.btn-custom-outline {
  color: #d1e5b2;
  border-color: #d1e5b2 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom-outline:hover {
  background-color: #7ea93a;
  color: white;
}

.search-form .form-control {
  border-color: #6B8E23;
  background-color: #cde49a;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  height: 32px;
  font-size: 1rem;
  margin-top: -1px;
  transition: 300ms ease-in-out;
}

.search-form .form-control:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

.navbar-toggler {
  border-color: #d1e5b2 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23d1e5b2' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
