/* Esto como tal es el fondo oscuro que se activa al momento de darle al boton */
.ventana-Modal{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content:center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3 ease;
}

/* Esto por otro lado le dice a lo de arriba de que por fin puede ser visible a los demas */
.ventana-Modal.active{
    opacity: 1;
    visibility: visible;
}


/* Aca es donde va a estar guardado todo lo que vamos a decirle al usuario */
.modal{
    background-color: #608834;
    border-radius:12px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    text-align: center;
    max-width: 640px;
    margin-left: 33%;
    width: 90%;
    height: fit-content;
    transform: scale(0.85);
    display: inline-block;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-top: 300px;
}

/* Lo mismo, aqui le decimos que finalmente se puede mostrar al publico */
.ventana-Modal.active .modal{
    transform: scale(1);
    opacity: 1;
}

/*Estos son los textos y en general informacion que se va a mostrar al usuario */
.icono-Eliminar{
    font-size: 4em;
    color:rgb(253, 253, 253);
    margin-bottom: 2em;
    line-height: 1.5;
}
.titulo-Modal{
font-size: 1.6em;
font-weight: bold;
color: white;
margin-bottom: 10px;
}
.mensaje-Modal{
font-size: 1;
color: #fcfcfc;
margin-bottom: 25px;
line-height: 1.5;
}

/* Y aca finalmente empezamos a moverle a los estilos de los botones */
.botones{
display: flex;
justify-content: center;
gap: 15px; /* Espacio entre los botones */
}

.botones button{
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.2 ease, transform 0.1 ease;
}

.cancelar{
    background-color: #7ea93a;
    color: #ffffff;
}
.cancelar:hover{
    background-color: #96ff27;
    transform: translateY(-2px);
}

.confirmar{
    background-color: #7ea93a;
    color: #ffffff;
}
.confirmar:hover{
    background-color: #ff2626;
    transform: translateY(-2px);
}