body {
  font-family: Arial, sans-serif;
  background-color: #fffef6;
}


.header {
  background-color: #b3832c;
  color: black;
  flex-wrap: wrap;
}

.logo {
  height: 40px;
}

.brand-name {
  font-weight: bold;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.custom-table {
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.custom-table thead th {
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  border: 2px solid black;
}

.custom-table tbody td {
  font-size: 16px;
  border: 1px solid black;
  padding: 10px;
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}


.footer {
  background-color: #b3832c;
  color: white;
  font-weight: bold;
}

.logo-sena {
  height: 25px;
  vertical-align: middle;
}
